* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background: #333 url(../images/20151006051016_votacion-estrellas-css.jpg);
    color: #eee;
    background-size: cover;
}

#principal {
    width: 960px;
    margin: 20px auto;
    padding: 20px;
}

#joc {
    position: relative;
    margin-top: 40px;
    width: 740px;
    height: 400px;
    background: rgba(232, 232, 232, 0.5);
    display: block;
    margin: 0 auto;
}

#inici, #fi {
    position: absolute;
    left: 275px;
    top: 50px;
    width: 400px;
    height: 300px;
    margin: 200px auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.3em;
    text-align: center;
    border: thick #990 solid;
    border-radius: 25px;
    background-color: #CFC;
    opacity: 0.9;
}

.dreta {
    text-align: right;
}

#game {
    background-color: #eee; /* color gris clar */
    border: #666 50px solid;
    border-bottom-width: 0;
    display: block;
    margin: 0 auto;
}

#capçalera {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    background-color: #A3A352; /* rgb(163,163,82) */
    height: 200px;
    border-radius: 25px;
}

#menu {
    text-align: center;
    margin-top: 50px;
}

#principal {
    text-align: center;
    display: none;
}

canvas {
    border: 1px solid black; /* Esto es opcional, solo para que el canvas sea más visible */
}

#modalidades {
    margin-top: 20px;
}

#modalidades button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: #333;
    background-color: #eee;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

#modalidades button:hover {
    background-color: #ddd;
}

#modal {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        color: black;
        margin-bottom: 10px;
    }

    button {
        padding: 10px;
        font-size: 14px;
        font-weight: 600;
        background-color: #bbffad;
        border-radius: 5px;
        transition: .2s;
    }

    button:hover {
        background-color: #b1f0a4;
    }
}

#cuentaAtras {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
    font-size: 48px;
}